.bgcolor{
    background-color: rgba(154, 215, 208, 0.613) ;
    margin:auto; 
}

#root{
text-align: center;
}

#convex-hull-box{
    width: 600;
    height: 400;
    border: 1px solid black;

}


svg{
    margin: auto;
    position: relative;
    display: block;
    background-color: white !important;
}


.edge {
    stroke: black;
    stroke-width: 4px;
}

.muted {
    stroke: rgb(200,200,200);
}

.highlight {
    stroke: red;
    stroke-width: 5;
}


